.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  max-height: 750px;
  margin-bottom: 65px;
}

.Item button {
  width: 95px;
  height: 70px;
  font-size: 20px;
  background: dodgerblue;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 14px 40px;
}

/*
.Item:nth-child(-n + 7) {
  justify-content: start;
}

.Item:nth-child(n + 8) {
  justify-content: end;
}
*/
.Score {
  width: 5px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 5px;
}

.Counter {
  align-self: start;
  font-size: 15px;
  color: white;
  border-radius: 4px;
  background: #b50e0e;
  padding: 4px;
}

.Reset {
  margin-bottom: 0;
  position: absolute;
  bottom: 80px;
  margin-left: calc(100vw/2 - 42px);
}

.Item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

button {
  border: 2px solid black;
}

span {
  font-size: 35px;
}

.Total {
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 5px;
  width: 105px;
}

.Total:first-child {
  border-radius: 5px 0 0 5px;
  border-right: 0;
}

.Total:last-child {
  border-radius: 0 5px 5px 0;
}

.Reset button {
  margin-top: 15px;
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
  color: white;
  background: darkred;
  border-radius: 5px;
}

.Data {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}